services:

  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: license-app
    container_name: license_app
    restart: always
    working_dir: /var/www
    volumes:
      - ./:/var/www
    depends_on:
      - mysql
      - mongo

  nginx:
    image: nginx:alpine
    container_name: license_nginx
    restart: always
    ports:
      - "29001:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - default

  mysql:
    image: mariadb:10.11
    container_name: license_mysql
    restart: always
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
    volumes:
      - dbdata:/var/lib/mysql
    ports:
      - "33061:3306"

  mongo:
    image: mongo:6.0
    container_name: license_mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGODB_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGODB_PASSWORD}
    volumes:
      - mongodata:/data/db
    ports:
      - "27017:27017"

  redis:
    image: redis:alpine
    container_name: license_redis

volumes:
  dbdata:
  mongodata:
