parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Console\\Commands\\ConfigureApp\:\:handle\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Console/Commands/ConfigureApp.php
